.panel-info {
    margin-top: 20px;
}
.panel-heading {
    background-color: aliceblue;
}
.panel-footer {
    text-align: center;
    color: brown
}
.panel-body {
    font-family: Lora,serif;
    font-size: 19px;
    color: #343434;

}
.img-circle{
    width: 120px;
    align-content: center
}
#icon {
    text-align: center
}
.title-heading {
    text-align: center;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.text-desc {
    text-align: center;
    color: black
}
ul li {
    color: #1fbba6
}